.about{
    background-color:red;
}

.skills{
    background-color:goldenrod;
}
.projects{
    background-color:lightblue;
    
}
.contact{
    background-color:darkgreen;
}
div{
  text-align:center;
  border-radius:5%;
}
.affinity{
  background-color:lightblue;
}
