.about{
    background-color:orange;
    font-family: "Times New Roman", Times, serif;
}

.skills{
    background-color:goldenrod;
}
.projects{
    background-color:lightblue;
    
}
.contact{
    background-color:darkgreen;
}
div{
  text-align:center;
  border-radius:5%;
  width:95%;
}

section{
    text-align:center;
    border-radius:5%;
}

img{
    height:200px;
    width:200px;
    border: 5px solid blue;
    border-radius:5%;
}

.selfie{
    height:200px;
    width:200px;
}
